@import './theme.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* 課堂卡片容器 */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.class-card {
  padding: 1rem;
  border-radius: 4px;
  background-color: $primary-10;
}

.card-header {
  display: flex;
  flex-direction: row; // 水平排列
  justify-content: space-between;
  align-items: center;
  text-align: left;
  h2 {
    color: $dark-80;
  }
}

.card-tag {
  border-radius: 2px;
  border: 1px solid $primary-70;
  background-color: $primary-50;
  color: #fff;
  font-size: 0.75rem;
  padding: 0 0.25rem;
}

.card-button {
  color: $primary-10;
  background-color: $primary-50;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 6px;
  transition: background-color 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955);
  &:hover {
    background-color: $primary-40;
    transition: background-color 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955);
  }
}

.card-content-desc {
  width: 100%;
  color: $dark-30;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 0.85rem;
  margin: 0.5rem 0;
}
